
@import '../styles/components/Vars.sccs';
@import '../styles/Media.sccs';
body {
    margin: 0;
    font-family: $theme-font;
    background: $main-color;
  }
  
  * {
    box-sizing: border-box;
  }
  